* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(240deg, blue, skyblue 100%);
    color: white;
    font-family: 'Pushster', cursive;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.container input,
.container button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.container button {
    color: rgb(12, 12, 151);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container button :hover {
    color: white;
    background-color: rgb(12, 12, 151);
}

.todo-div {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo-div li {
    flex: 1;
}

.trash-btn,
.complete-btn,
.edit-btn {
    background: #e94315;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(11, 212, 162);
}

.edit-btn {
    background: rgb(126, 119, 117);
}

.items {
    padding-left: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 12px;
}

.fa-trash,
.fa-check,
.fa-edit {
    pointer-events: none;
}